<?xml version="1.0" encoding="utf-8"?>

<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory>
    <property name="connection.driver_class"> NHibernate.Driver.MySqlDataDriver </property>
    <property name="connection.connection_string"> Server=localhost; Database=db1; User ID=root; Password=12345 </property>
    <property name="dialect"> NHibernate.Dialect.MySQLDialect </property>
    <property name="show_sql"> true </property>
    <mapping assembly="AutoBase"/>
  </session-factory>
</hibernate-configuration>